*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
}

body, html
{
  height: 100%;
  min-width: 100vw;
  /* overflow-x: hidden; */
}

body
{
  background-color: rgb(36, 36, 36);
  color: rgb(214, 214, 214);
}

/* container */
.container
{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* header, nav, etc. */
.header
{
  display: grid;
  grid-template-columns: 1fr [nav-start] 1fr [nav-end];
  background-color: rgb(56, 56, 56);
}

.nav
{
  grid-column: nav;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link
{
  padding: .5em .3em;
  color: white;
  transition-property: background, color;
  transition-duration: 0.3s;
  user-select: none;
}
.nav-link:hover
{
  background-color: white;
  color: grey;
}

.nav-logout
{
  background: inherit;
  color: white;
  border: 1px solid rgb(145, 0, 0);
  padding: .3em;
  height: 80%;
  border-radius: .35em;
  transition-property: background;
  transition-duration: 0.3s;
}
.nav-logout:hover
{
  background: rgb(145, 0, 0);
  cursor: pointer;
}

/* main, main-content, etc. */
.main-heading
{
  text-align: center;
  margin-top: 1em;
}

.main-content
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  background-color: rgb(102, 102, 102);
  /* background-image: linear-gradient(rgb(102, 102, 102), rgb(102, 102, 102), rgb(102, 102, 102), rgb(36, 36, 36)); */
  border-radius: .25em;
  margin: 2em 20vw;
  padding: 1em;
}

.main-form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  width: 60%;
}

.form-input-field
{
  width: 100%;
  border-radius: 0.5em;
  border: 0.5px solid rgb(59, 59, 59);
  padding: .8em;

  background: rgba(56, 56, 56, 0);
  color: white;

  transition-property: border;
  transition-duration: 0.4s;
}
.form-input-field:focus
{
  border: 0.5px solid rgb(175, 175, 175);
  outline: none;
}
.form-input-field:focus-visible
{
  border: 0.5px solid rgb(175, 175, 175);
  outline: none;
}
::placeholder
{
  color: rgba(255, 255, 255, 0.5);
}
.submit-button
{
  width: 5em;
  height: 2em;
  border: 0.5px solid rgb(59, 59, 59);
  background-color: transparent;
  color: rgb(207, 207, 207);
}
.submit-button:active
{
  background-color: rgba(82, 82, 82, 0.5);
}

.vote-delete-button
{
  background: inherit;
  color: white;
  border: 1px solid rgb(119, 0, 0);
  padding: .3em;
  height: 80%;
  border-radius: .35em;
  transition-property: background;
  transition-duration: 0.3s;
}
.vote-delete-button:hover
{
  background: rgb(145, 0, 0);
  cursor: pointer;
}

.vote-form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  width: 60%;
}

.vote-form-candidate
{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 50%;
  gap: 1em;
}

/* radio button; reference from https://moderncss.dev/pure-css-custom-styled-radio-buttons/ */
input[type="radio"]
{
  grid-column: radio;
  appearance: none;
  background-color: inherit;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid rgb(56, 56, 56);
  border-radius: 50%;

  display: grid;
  place-content: center;
}
input[type="radio"]::before
{
  content: "";
  width: 0.55rem;
  height: 0.6rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem black;
  
}
input[type="radio"]:checked::before {
  transform: scale(1);
}
input[type="radio"]:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .header
  {
    background-color: rgb(56, 56, 56);
  }
  
  .main-form
  {
    width: 75%;
  }
}